.interna_contato {
  background: url("../img/bg-contato.jpg") no-repeat center;
  background-size: cover;
}

/* Orçamento */

.contato {
  padding: 40px 0; /* 40px top e bottom; 0 right e left */
}

.contato_form {
  padding-right: 60px;
}

.contato_form label {
  display: block;
  @include tipo-2(18);
  margin-bottom: 4px;
}

.contato_form input {
  display: block;
  width: 100%;
  border: 4px solid $cor-primaria;
  background: none;
  padding: 7px 10px; /* 10px é onde começa a escrita */
  margin-bottom: 10px;
  outline: none;
  @include tipo-2(14);
}

.contato_form textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 4px solid $cor-primaria;
  background: none;
  padding: 7px 10px; /* 10px é onde começa a escrita */
  margin-bottom: 20px;
  outline: none;
  @include tipo-2(14);
}

.contato_form button {
  padding: 8px 40px;
  background: none;
}

.orcamento_dados {
  color: $white;
}

.contato_dados h3 {
  @include tipo-1(18);
  text-transform: uppercase;
  color: $cor-primaria;
  font-weight: bold;
}

.contato_dados span {
  display: block;
  @include tipo-2(18);
  line-height: 30px;
}

.contato_dados span:nth-of-type(even) {
  margin-bottom: 30px;
}

.contato_dados ul {
  margin-top: 10px;
}

.contato_dados ul li {
  display: inline-block;
  margin-right: 10px;
}

.contato_dados ul li a {
  border: 3px solid $cor-primaria;
  display: block;
  padding: 10px;
}

.contato_dados ul li a:hover {
  border-color: $black;
}

.contato_mapa {
  margin-bottom: 60px;
}
